@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@import url('//hello.myfonts.net/count/46e626');

@font-face {
  font-family: 'PODIUMSharp-49';
  src: url('/public/webFonts/PODIUMSharp49/font.woff2') format('woff2'),
    url('/public/webFonts/PODIUMSharp49/font.woff') format('woff');
}
@font-face {
  font-family: 'PODIUMSharp-96';
  src: url('/public/webFonts/PODIUMSharp96/font.woff2') format('woff2'),
    url('/public/webFonts/PODIUMSharp96/font.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply font-inter text-white;
}

.signup-back {
  @apply min-h-screen bg-no-repeat bg-cover overflow-auto bg-[url('public/backMobile.svg')] sm:bg-[url('public/back.svg')] md:bg-[url('public/back.svg')] lg:bg-[url('public/back.svg')];
}

.home-back {
  @apply min-h-screen bg-no-repeat bg-cover bg-center overflow-auto bg-black2 bg-[url('public/assets/Image/Hero-mobile.svg')] sm:bg-[url('public/assets/Image/Hero.svg')] md:bg-[url('public/assets/Image/Hero.svg')] lg:bg-[url('public/assets/Image/Hero.svg')];
}

.thanks-back {
  @apply min-h-screen bg-no-repeat bg-cover overflow-auto  bg-none bg-black1 sm:bg-[url('public/back.svg')] md:bg-[url('public/back.svg')] lg:bg-[url('public/back.svg')];
}

.footer-img {
  @apply bg-[url('public/assets/Footer/Footer-mobile.svg')] sm:bg-[url('public/assets/Footer/Footer-mobile.svg')] md:bg-[url('public/assets/Footer/Footer-tablet.svg')] lg:bg-[url('public/assets/Footer/Footer.svg')];
}
